.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr  0.1fr 0.05fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "hero hero hero"    
    "card card card"
    "form form form"    
    "footer footer footer"
    "footer2 footer2 footer2";
}

.header {
  grid-area: header; 
  

}
.header img{
  position:relative;
  top:0;
  left:0;
  height: auto;
  width: 100px;
}
nav{
  position: relative;
  margin-left: 1185px;

  
}
nav ul{
  position: relative;
  list-style: none;
  margin-right:10%;
  padding: 0;
  right: 0;
  display: flex;
  
}
nav li{
  display: inline-block;
  margin-right: 10px;
}


.hero { 
  grid-area: hero;
  position: relative;
  height: 500px;;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f4c482;
}
.hero .izquierda{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  
  
}
.hero .derecha{
  justify-content: center;
  object-fit: cover;
}
.hero h2{
  font-size: 48px;
  margin-bottom: 20px;
}
.hero p{
  font-size: 24px;
  margin-bottom: 40px;
  max-width: 600px;
}
.hero img{
  margin-right: 0%;
  width: 70%;
}
.hero button{
  padding:10px 20px;
  font-size: 18px;
  background-color: #333;
  color: #fff;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}
.card{
  grid-area: card;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;

}
.card1, .card2, .card3 {
  background-color: #f4c482;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 30%;
  border-radius:20px;
  padding: 10px;
  margin-top: 20%;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.card1 h1, .card2 h1, .card3 h1 {
  margin-top: 0;
}

.card1 p, .card2 p, .card3 p {
  margin-bottom: 0;
}

.form {
  grid-area: form; 
  background-color: #e0a159;
  text-align: center;
  justify-content: space-around;
 }
.form h2{
  font-size: 300%;
}
.form .form-derecha input{
  padding: 5px;
  margin: 25px;
  font-size: medium;
  border-radius: 10px;
  border-color: #333;
  width: 400px;
}
.form .form-izquierda input{
  padding: 5px;
  margin: 25px;
  font-size: medium;
  border-radius: 10px;
  border-color: #333;
  width: 400px;
}
.form-texto textarea{
  border-radius: 10px;
  border-color: #333;
  width: 600px;
}

.form-boton {
  margin-top: 2%;
  border-radius: 8px;
  width: fit-content;
  padding: 7px 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  border: black 2px solid;
  margin-bottom: 20px;


}


.form-boton a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.footer {
   grid-area: footer; 
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    font-size: 0.8rem;
  
  }
  
  .Ubi h2, .Contact h2, .RRSS h2,
.Ubi p, .Contact p, .RRSS p {
  text-align: center;
}



  