.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "hero hero hero"
    "hero hero hero"
    "card card card"
    "form form form"
    "form form form"
    "footer footer footer";
}

.header {
  grid-area: header; 

}

.hero { 
  grid-area: hero;

}

.footer {
   grid-area: footer; 
  
  }

.form {
   grid-area: form; 
  
  }

  